body {
  overflow: hidden;
}

.scSearchArea {
  border: 1px solid #B4B4B4;
  margin: 12px 12px 0 12px;
  padding: 12px;
}

.scTitle {
  font-weight: bold;
  white-space: nowrap;
}

.scSearch {
  font: 8pt tahoma;
  margin-right: 16px;
  width: 150px;
}

.scSearch.Wide {
  width: 316px;
}

.scSearchLabel {
  padding: 4px 2px 2px 3px;
  color: Gray;
}

.scBorder {
  width: 100%;
  margin-left: 50px;
  padding: 4px 0px;
  float: left;
}

.scDropDownList {
  font: 8pt tahoma;
}

.scChecklist {
  margin-right: 16px;
  float: left;
}

.scChecklistHeader {
  padding: 4px;
}

.scChecklistItems {
  border: 1px solid #B4B4B4;
  padding: 3px;
  width: 150px;
  height: 89px;
  overflow-x: hidden;
  overflow-y: scroll;
}
