/* WF STYLES
----------------------------------------------------------*/

.wf-container {
  width: 1280px;
}

.wf-content input {
    min-width: 74px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.main {
  padding: 0px 12px;
  margin: auto;
  min-height: 600px;
  width: 1280px;
}

.leftCol, .rightCol {
  background-color: White;
  padding: 6px 0px;
  float: left;
}

.leftCol {
  min-width: 300px;
  width: 40%;
}

.rightCol {
  width: 60%;
}

.leftCol > div, .rightCol > div {
  border: 1px solid #CCCCCC;
  margin: 4px 2px;
}


/* PROGRESS BAR
----------------------------------------------------------*/

.actions {
  padding: 6px 4px 4px;
}

.actions button {
  height: 24px;
}

.result {
  border: 1px solid #CCCCCC;
  height: 26px;
  margin-top: 4px;
}

.result.success {
  background: url('/sitecore/testing/nunitwebrunner/images/progress_success.png') 0 0 repeat-x;
}

.result.failure {
  background: url('/sitecore/testing/nunitwebrunner/images/progress_failure.png') 0 0 repeat-x;
}

.result.inconclusive {
  background: url('/sitecore/testing/nunitwebrunner/images/progress_inconclusive.png') 0 0 repeat-x;
}

/* TREE VIEW  
----------------------------------------------------------*/

.treeview {
  overflow-x: auto;
  min-height: 322px;
}

.treeview ul {
  padding: 0;
  margin: 0;
}

.treeview > ul {
  margin: 4px 0;
}

.treeview > ul > li {
  padding: 0 4px;
}

.treeview li {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 16px;
  white-space: nowrap;
}

.treeview li.notincategory {
  display: none;
}

.treeview .node, .treeview .state {
  padding-left: 12px;
}

.treeview .node {
  background: url('/sitecore/testing/nunitwebrunner/images/collapse.gif') 0 0 no-repeat;
}

.treeview .node.collapsed {
  background: url('/sitecore/testing/nunitwebrunner/images/expand.gif') 0 0 no-repeat;
}

.treeview .node.last {
  background-image: none;
}

.treeview .state.notrun {
  background: url('/sitecore/testing/nunitwebrunner/images/notrun.png') 0 0 no-repeat;
}

.treeview .state.success {
  background: url('/sitecore/testing/nunitwebrunner/images/success.png') 0 0 no-repeat;
}

.treeview .state.failure {
  background: url('/sitecore/testing/nunitwebrunner/images/failure.png') 0 0 no-repeat;
}

.treeview .state.inconclusive {
  background: url('/sitecore/testing/nunitwebrunner/images/ignored.png') 0 0 no-repeat;
}

.treeview .state.running {
  background: url('/sitecore/shell/themes/standard/images/loading15x15.gif') 0 0 no-repeat;
}

.messageBox, .stackTrace {
  overflow: auto;
}

.messageBox {
  height: 300px;
}

.messageBox ul {
  padding: 0px;
  margin: 0px;
}

.treeview .title, .messageBox ul li {
  color: Black;
  cursor: pointer;
  background-color: transparent;
  list-style-type: none;
  padding: 0px 2px;
}

.treeview .title.selected, .messageBox ul li.selected {
  background-color: #3399FF;
  color: White;
}

.stackTrace p {
  display: none;
  margin: 2px;
}

.stackTrace p.selected {
  display: block;
}
