<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="analytics" connectionString="user id=sa;password=12345;Data Source=.\SQLEXPRESS;Database=SitecoreEcommerce_Analytics" />
  <add name="core" connectionString="user id=sa;password=12345;Data Source=.\SQLEXPRESS;Database=SitecoreEcommerce_Core" />
  <add name="master" connectionString="user id=sa;password=12345;Data Source=.\SQLEXPRESS;Database=SitecoreEcommerce_Master" />
  <add name="web" connectionString="user id=sa;password=12345;Data Source=.\SQLEXPRESS;Database=SitecoreEcommerce_Web" />
  <add name="orders" connectionString="user id=sa;password=12345;Data Source=.\SQLEXPRESS;Database=SitecoreEcommerce_Orders;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  <add name="logging" connectionString="user id=sa;password=12345;Data Source=.\SQLEXPRESS;Database=SitecoreEcommerce_ActionLog;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
</connectionStrings>