<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="ISearchProvider" type="Sitecore.Ecommerce.Search.ISearchProvider, Sitecore.Ecommerce.Kernel" />
    <alias alias="LuceneSearchProvider" type="Sitecore.Ecommerce.Search.LuceneSearchProvider, Sitecore.Ecommerce.Kernel" />
    <alias alias="IProductPriceManager" type="Sitecore.Ecommerce.DomainModel.Prices.IProductPriceManager, Sitecore.Ecommerce.DomainModel" />
    <alias alias="XProductPriceManager" type="Sitecore.Ecommerce.MvpWebStore.Domain.XProductPriceManager, Sitecore.Ecommerce.MvpWebStore" />
    <alias alias="VisitorOrderSecurity" type="Sitecore.Ecommerce.Visitor.OrderManagement.VisitorOrderSecurity, Sitecore.Ecommerce.Visitor" />
    <alias alias="SampleOrderSecurity" type="Sitecore.Ecommerce.MvpWebStore.Domain.SampleOrderSecurity, Sitecore.Ecommerce.MvpWebStore" />
    <alias alias="ProcessingStrategy" type="Sitecore.Ecommerce.OrderManagement.ProcessingStrategy, Sitecore.Ecommerce.Core" />
    <alias alias="SampleOrderCancelationStrategy" type="Sitecore.Ecommerce.MvpWebStore.Domain.SampleOrderCancelationStrategy, Sitecore.Ecommerce.MvpWebStore" />
    <alias alias="SampleOrderManager" type="Sitecore.Ecommerce.MvpWebStore.Domain.SampleOrderManager, Sitecore.Ecommerce.MvpWebStore" />
    <alias alias="CoreOrderStateConfiguration" type="Sitecore.Ecommerce.OrderManagement.CoreOrderStateConfiguration, Sitecore.Ecommerce.Core" />
    <alias alias="SampleOrderStateConfiguration" type="Sitecore.Ecommerce.MvpWebStore.Domain.SampleOrderStateConfiguration, Sitecore.Ecommerce.MvpWebStore" />
    <container>
      <register type="ISearchProvider" mapTo="LuceneSearchProvider">
        <property name="IndexName" value="mvpwebstore products" />
      </register>
      <register type="IProductPriceManager" mapTo="XProductPriceManager" />
      <register type="VisitorOrderSecurity" mapTo="SampleOrderSecurity" />
      <register type="ProcessingStrategy" mapTo="SampleOrderCancelationStrategy" />
      <register type="SampleOrderManager">
        <lifetime type="hierarchical" />
      </register>
      <register type="CoreOrderStateConfiguration" mapTo="SampleOrderStateConfiguration" />
    </container>
  </unity>
</configuration>