<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site rootPath="/sitecore/content/testing" name="testing" content="master" database="web" />
      <site name="secondwebstore" hostName="" virtualFolder="/" physicalFolder="/" content="master" rootPath="/sitecore/content/E-Commerce Examples" startItem="/home" database="web" domain="extranet" allowDebug="true" cacheHtml="false" htmlCacheSize="10MB" EcommerceSiteSettings="/Site Settings" browserTitle="Second Web Store" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="5MB" filteredItemsCacheSize="2MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" ordersDatabase="secondorders" actionLogDatabase="secondlogging" patch:before="site[@name='website']"/>
      <site name="thirdwebstore" hostName="" virtualFolder="/" physicalFolder="/" content="master" rootPath="/sitecore/content/E-Commerce Examples" startItem="/home" database="web" domain="extranet" allowDebug="true" cacheHtml="false" htmlCacheSize="10MB" EcommerceSiteSettings="/Site Settings" browserTitle="Third Web Store" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="5MB" filteredItemsCacheSize="2MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" ordersDatabase="orders" actionLogDatabase="logging" patch:before="site[@name='website']"/>
    </sites>
    <search>
      <configuration>
        <indexes>
          <index id="testing" type="Sitecore.Search.Index, Sitecore.Kernel">
            <param desc="name">$(id)</param>
            <param desc="folder">__testing</param>
            <Analyzer type="Sitecore.Ecommerce.Search.LuceneAnalyzer, Sitecore.Ecommerce.Kernel" />
            <locations hint="list:AddCrawler">
              <master type="Sitecore.Ecommerce.Search.DatabaseCrawler, Sitecore.Ecommerce.Kernel">
                <Database>master</Database>
                <Root>{0DE95AE4-41AB-4D01-9EB0-67441B7C2450}</Root>
                <Tags>test content</Tags>
              </master>
            </locations>
          </index>
        </indexes>
      </configuration>
    </search>
    <settings>
      <setting name="MailServer">
        <patch:attribute name="value">exchange1ua1.dk.sitecore.net</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>