<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Ecommerce.Apps.Pipelines.Loader.ConfigureUnityContainer, Sitecore.Ecommerce.Apps" />
      </initialize>
      <httpRequestBegin>
        <processor type="Sitecore.Ecommerce.Apps.Pipelines.HttpRequest.MerchantShopResolver, Sitecore.Ecommerce.Apps" patch:after="*[@type='Sitecore.Pipelines.HttpRequest.SiteResolver, Sitecore.Kernel']">
          <MerchantSiteName>speak</MerchantSiteName>
          <ShopContextName></ShopContextName>
        </processor>
      </httpRequestBegin>
      <orderCaptured>
      </orderCaptured>
    </pipelines>
  </sitecore>
</configuration>