<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <!-- Configures WebFormsMvp Presenter Factory to instantiate presenters and their dependencies.
             The factory is based on web site Unity container which is derivative of the global E-Commerce Unity container -->
        <processor type="Sitecore.Ecommerce.MvpWebStore.Pipelines.Loader.InitializePresenterFactory, Sitecore.Ecommerce.MvpWebStore">
          <!-- The property is used to locate Unity container for specific web site -->
          <WebShopName>mvpwebstore</WebShopName>
        </processor>
      </initialize>
    </pipelines>
    <sites>
      <site name="mvpwebstore" hostName="mvpwebstore" virtualFolder="/" physicalFolder="/" content="master" rootPath="/sitecore/content/mvpwebstore" startItem="/home" database="web" domain="extranet" allowDebug="true" cacheHtml="false" htmlCacheSize="10MB" EcommerceSiteSettings="/WebStore Settings" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="5MB" filteredItemsCacheSize="2MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" ordersDatabase="orders" actionLogDatabase="logging" patch:after="site[@name='modules_website']"/>
    </sites>
    <search>
      <configuration>
        <indexes>
          <!-- Configures custom Lucene search indexes for specific web site. Has got onw id which is injected into
               IndexName property of the custom LuseneSearchProvider registration. See MvpWebStore.Unity.config for details. -->
          <index id="mvpwebstore products" type="Sitecore.Search.Index, Sitecore.Kernel">
            <param desc="name">$(id)</param>
            <param desc="folder">__mvpwebstore_products</param>
            <Analyzer type="Sitecore.Ecommerce.Search.LuceneAnalyzer, Sitecore.Ecommerce.Kernel" />
            <locations hint="list:AddCrawler">
              <master type="Sitecore.Ecommerce.Search.DatabaseCrawler, Sitecore.Ecommerce.Kernel">
                <Database>master</Database>
                <!-- Please specify product repository root item ID here -->
                <Root>{00000000-0000-0000-0000-000000000000}</Root>
                <Tags>master products</Tags>
              </master>
              <web type="Sitecore.Ecommerce.Search.DatabaseCrawler, Sitecore.Ecommerce.Kernel">
                <Database>web</Database>
                <!-- Please specify product repository root item ID here -->
                <Root>{00000000-0000-0000-0000-000000000000}</Root>
                <Tags>web products</Tags>
              </web>
            </locations>
          </index>
        </indexes>
      </configuration>
    </search>
  </sitecore>
</configuration>