<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <sites>
      <site name="website">
        <patch:delete />
      </site>
      <site name="modules_website">
        <patch:delete />
      </site>
      <site name="testing">
        <patch:delete />
      </site>
    </sites>
    <databases>
      <database id="web">
        <patch:delete />
      </database>
    </databases>
    <search>
      <configuration>
        <indexes>
          <index>
            <locations>
              <web>
                <patch:delete />
              </web>
            </locations>
          </index>
          <index id="products" type="Sitecore.Search.Index, Sitecore.Kernel">
            <locations hint="list:AddCrawler">
              <web type="Sitecore.Ecommerce.Search.DatabaseCrawler, Sitecore.Ecommerce.Kernel">
                <patch:delete />
              </web>
            </locations>
          </index>
        </indexes>
      </configuration>
    </search>
    <scheduling>
      <agent type="Sitecore.Tasks.CleanupFDAObsoleteMediaData">
        <databases hint="raw:AddDatabase">
          <database name="web">
            <patch:delete />
          </database>
        </databases>
      </agent>
    </scheduling>
  </sitecore>
</configuration>