<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="StartUrl" value="http://ecommerce" />
    <add key="TestFixtureUrl" value="/layouts/Ecommerce/Sitecore.Ecommerce.Presentation.Tests/TestingSuite/TestFixture.aspx" />
    <!-- Watin settings-->
    <add key="MakeNewIeInstanceVisible" value="false" />
    <add key="WaitForCompleteTimeOut" value="60" />
    <add key="WaitUntilExistsTimeOut" value="60" />
  </appSettings>
</configuration>